@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-border-background {
    /* background: conic-gradient(white 0deg, #0284c7 0deg, transparent 80deg); */
    background: conic-gradient(transparent 0deg, #0284c7 0deg, white 80deg);
  }

  .footer-gradient {
    background-image: radial-gradient(
      45.25% 45.25% at 50.04% 101.88%,
      white 20.83%,
      rgba(177, 229, 242, 0) 100%
    );
  }
  .footer-gradient-mobile {
    background-image: radial-gradient(
      90.25% 46.25% at 50.04% 101.88%,
      white 20.83%,
      rgba(177, 229, 242, 0) 100%
    );
  }
  .backdrop-blur-24 {
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
  }
  .backdrop-blur-12 {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
}
